* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
li {
  width: 25%;
  padding: 10px;
}
@media screen and (max-width: 960px) {
  li {
    width: 33%;
  }
}
@media screen and (max-width: 600px) {
  li {
    width: 50%;
  }
}

h2 {
  margin: 1rem;

}
h3 {
  margin: .5rem 0;
  font-size: .875rem;
}

small {
  font-weight: 400;
}

address {
  font-size: .875rem;
  font-style: normal;
}

.card {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.__img {
  width: 100%;
  padding-top: 56%;
  background-size: cover;
  background-position: center center;
}
/*
img {
  width: 100%;
  object-fit: cover;
  height: 30vw;
}
*/
